*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
.App{
  width: 100vw;
  height: 100vh;
  background-color: rgb(244, 240, 240);
}


.nav{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
  background-color: rgb(230, 227, 227);
  width: 100%;
  
  height: 50px;

}

.logo{
  position: absolute;
  left: 5px;
  top: 1px;
}

.list{
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6vw;
  font-size: small;
  
}
.list1{
  position: absolute;
  left: 80px;
}
.list2{
  position: absolute;
  right: 14px;
}
.btnLi{
  color: white;
  border: 2px solid green;
  border-radius: 2px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 2px;
  background-image: linear-gradient(green,rgb(21, 171, 21));

}
.sp{
  display: block;
}
.mid{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  background-color: rgba(33, 40, 134, 0.864);
  color: whitesmoke;

}
h1{
  margin-bottom: 15px;
}
p{
  margin-bottom: 19px;
}

.btn{
  width: 130px;
  height: 40px;
  border-radius: 2px;
  border: none;
  background-color: rgb(57, 170, 5);
  font-weight: bold;
  color: whitesmoke;
}

footer{
  padding-top: 40px;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  text-align: center;
}
img{
  width: 80px;
  height: 80px;
}



